/*********************************/
/******** Block SCSS *************/
/*********************************/

.block-section {
    padding: 80px;
    overflow: hidden;
    position: relative;

    blockquote {
        font-size: 44px;
        line-height: 1.5;

        b {
            color: #0d6efd;
            font-weight: 400;
        }
    }
}

/*****************************/
/***** End of Block SCSS *****/
/*****************************/
.arrow-animation {
    width: 100px;
    height: 100%;
    background-image: url(../images/photos/shape.svg);
    background-size: 100% auto;
    background-repeat: repeat-y;
    animation: moveArrow 44s linear(15 -70%, 0.1 100%) infinite;
    position: absolute;
    bottom: 0;
    right: 30px;
    pointer-events: none;
    opacity: 0.1;
    transform: rotate(-180deg);
}

.left-arrow-animation {
    right: auto;
    left: 30px;
    transform: rotate(0deg);
}

@keyframes moveArrow {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 115%; /* Should be at least the height of one full cycle */
    }
}
